{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Termos de Uso &#124; GameHub Institucional
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/institucional/politicas.css' %}">
{% endblock %}

{% block main %}
    <section class="secao flex">
        <div class="container flex col">
            <h1 id="topo">Termos de Uso</h1>

            <div class="topico flex col">
                <h2>Plataforma GameHub</h2>

                <div class="flex col">
                    <p>Bem-vindo à Plataforma GameHub. A seguir, apresentamos os Termos de Uso e Condições de Navegação, documento que relaciona as principais regras que devem ser observadas por todos que acessam este site ou utilizam suas ferramentas.</p>
                    <p>Ao visitar ou utilizar este site pressupõe-se a leitura e concordância com todos os termos abaixo.</p>
                </div>
            </div>

            <div class="topico flex col">
                <h3>1. Definições</h3>
                
                <div class="flex col">
                    <p>Para os fins deste documento, devem se considerar as seguintes definições e descrições para seu melhor entendimento:</p>

                    <p><strong>Anti-Spam:</strong> Sistema que evita correspondências não desejadas, como publicidade em massa, pelo bloqueio de mensagens ou as movendo para pasta específica.</p>

                    <p><strong>Ativação:</strong> Validação das informações referentes às licenças de uso, eventualmente necessária para acesso à determinados Games na plataforma das empresas proprietárias das licenças dos Games ou, eventualmente, na Plataforma da GameHub.</p>

                    <p><strong>Conta de Acesso:</strong> Área restrita de uso exclusivo do Usuário acessível através de login e Senha, pela qual o Usuário interage, realiza transações e troca informações pessoais com a Plataforma.</p>

                    <p><strong>Conteúdos Digitais:</strong> Músicas, trilhas sonoras, filmes, Games e outros conteúdos similares disponíveis na Plataforma da GameHub.</p> 
                    
                    <p><strong>Crawler / Spider:</strong> Programa desenvolvido para atuar ou obter informações de modo automatizado em sites.</p> 
                    
                    <p><strong>Game(s):</strong> Espécie de conteúdo Digital disponibilizado na Plataforma GameHub para download aos Usuários.</p> 
                    
                    <p><strong>Layout:</strong> Conjunto compreendido entre aparência, design e fluxos da Plataforma.</p> 
                    
                    <p><strong>Licença(s):</strong> Licença(s) para uso de Conteúdos Digitais ou Games adquiridas por intermédio da Plataforma da GameHub. A GameHub faz a intermediação da venda das Licenças entre as Publishers e os Usuários. As Licenças conferem ao Usuário um direito e uma licença não exclusiva, limitada e rescindível de uso do Conteúdo Digital para o uso pessoal e não comercial (exceto quando expressamente permitido pela GameHub em caso específico, a seu critério exclusivo). A licença adquirida não confere qualquer título ou propriedade sobre o Conteúdo Digital adquirido.</p> 
                    
                    <p><strong>Link:</strong> Terminologia para endereço de internet.</p> 
                    
                    <p><strong>Login:</strong> Nome de identificação do Usuário na Plataforma GameHub.</p> 
                    
                    <p><strong>GameHub:</strong> GameHub LTDA. inscrita no CNPJ/MF sob o nº ##.###.###/####-##, CEP #####-###.</p> 
                    
                    <p><strong>Plataforma:</strong> Ambiente virtual onde estão dispostos os serviços, Games e Conteúdos Digitais que fazem parte do catálogo de vendas intermediadas pela GameHub, sendo oferecido aos Usuários por meio do site acessível através do domínio “www.GameHub.com”.</p> 

                    <p><strong>Publishers:</strong> são as empresas proprietárias dos direitos de exploração econômica ou licenciamento das Licenças. A GameHub realiza a intermediação da venda de Licenças pelas Publishers para os Usuários. As Publishers podem ser empresas localizadas no Brasil ou no exterior.</p> 
                    
                    <p><strong>Senha:</strong> Conjunto de caracteres que serve como prova de identidade digital do Usuário, cujo conhecimento deve ser exclusivo e único.</p> 
                    
                    <p><strong>Site:</strong> Denominação para página de internet.</p> 
                    
                    <p><strong>Usuário(s):</strong> Pessoa(s) que possui(em) uma conta válida na Plataforma e que acessa(m) ou interage(m) com as atividades oferecidas. Todo Usuário, necessariamente, deverá ser um consumidor final, vedada qualquer compra para finalidade de revenda comercial ou exploração comercial.</p> 
                    
                    <p><strong>Visitante:</strong> Toda pessoa que acessa a Plataforma.</p>
                </div>

                <a href="#topo">&#11205; Voltar ao topo</a>
            </div>
            
            <div class="topico flex col">
                <h3>2. Acesso e Restrições de funcionalidade</h3>
                
                <div class="flex col">
                    <p><strong>2.1 -</strong> Esta Plataforma é dedicada à hospedagem do ambiente virtual GameHub, cuja atividade é permitir aos Usuários adquirir Licenças para baixar Conteúdos Digitais, em especial Games, permitindo também a interação dos Usuários por meio de ferramentas sociais. Os Conteúdos Digitais são baixados diretamente dos sites das empresas proprietárias das Licenças, as Publishers, de outras plataformas autorizadas pelas Publishers ou, em alguns casos, da própria Plataforma da GameHub, a variar conforme cada Licença específica adquirida.</p> 
                    
                    <p><strong>2.2 -</strong> A GameHub é uma empresa dedicada a promover a intermediação da venda de Licenças pelas Publishers aos Usuários através da Plataforma. A GameHub não realiza a compra de Licenças dos Publishers para a sua venda seguinte aos Usuários.</p> 
                    
                    <p><strong>2.3 -</strong> A GameHub possui um compromisso de oferecer aos seus Usuários uma forma fácil, prática e rápida de ter acesso à Games no computador, consoles ou smartphones.</p> 
                    
                    <p><strong>2.4 -</strong> Esta Plataforma se direciona a Usuários localizados em todo o mundo, podendo, entretanto, haver diferença no catálogo de Games oferecidos de acordo com o local onde está situado o Usuário.</p> 
                    
                    <p><strong>2.4.1 -</strong> Em caso de Games nos quais são aplicadas restrições regionais, o Usuário terá a garantia de acesso ao Game apenas no país onde efetuou a compra, ainda que exista a possibilidade de ter acesso a este em país diverso de onde a compra foi realizada.</p> 
                    
                    <p><strong>2.4.2 -</strong> Havendo a restrição de acesso descrita no item <strong>2.4.1</strong> acima, fica proibida a utilização de qualquer ferramenta tecnológica, tais como, mas não se limitando a Proxy e VPN, para acessar Games em país diverso daquele no qual a Licença foi adquirida pelo Usuário.</p> 

                    <p><strong>2.5 -</strong> É vedada a compra de Licenças para revenda comercial ou para sua exploração comercial como, por exemplo, de forma não taxativa, o exercício da atividade econômica de aluguel remunerado de Licença.</p>
                </div>

                <a href="#topo">&#11205; Voltar ao topo</a>
            </div>
            
            <div class="topico flex col">
                <h3>3. Funcionamento e Condutas da Plataforma</h3>
                
                <div class="flex col">
                    <p><strong>3.1 -</strong> Esta Plataforma é apresentada ao público da web na maneira como está disponível, podendo passar por constantes aprimoramentos e atualizações, não ficando a GameHub obrigada a manter uma estrutura ou Layout, se não por sua própria conveniência.</p>

                    <p><strong>3.2 -</strong> O Usuário interessado em adquirir os Conteúdos Digitais deve criar uma conta, fornecendo seu e-mail e uma Senha.</p>

                    <p><strong>3.2.1 -</strong> Cada Conta de Acesso está condicionada a adquirir apenas uma Licença para cada Game para uso pessoal, sendo vedado qualquer uso comercial dessa Licença. A GameHub não disponibilizará Licenças repetidas para o mesmo Game para o mesmo Usuário.</p>

                    <p><strong>3.2.2 -</strong> A aquisição de pacotes de itens para Games está condicionado a um preço único ofertado no momento da compra que independe do Usuário já possuir um ou mais itens daquele pacote. O Usuário não receberá novamente o mesmo item que já possuir, recebendo apenas os demais itens do pacote que não possuir.</p>

                    <p><strong>3.2.3 -</strong> Para efetuar a compra o Usuário deverá ainda informar outros dados pessoais de acordo com a forma de pagamento escolhida, tais como, mas não se limitando a nome completo, Login, nome de exibição para o perfil público, número do documento de identificação em seu país, número de inscrição no Cadastro de Pessoas Físicas – CPF, número do cartão de crédito, telefone e endereço, além de outros elementos de identificação que a GameHub possa exigir para provar o atendimento das regras destes Termos de Uso e da legislação aplicável (em especial, as exigências da legislação tributária, a legislação de proteção ao consumidor e a legislação de proteção das crianças e adolescentes).</p>

                    <p><strong>3.2.4 -</strong> A GameHub se reserva ao direito de solicitar ao Usuário o envio de informações complementares e eventuais cópias de documentos, visando única e exclusivamente confirmar a identidade do comprador, e a autenticidade dos seus documentos.</p>

                    <p><strong>3.3 -</strong> Todas as Licenças comercializadas podem requerer a criação de uma Conta de Acesso em plataforma diversa (a plataforma a partir da qual será feito o download dos Games). Nos casos em que a Ativação for necessária, será fornecida uma chave em local específico na Conta de Acesso do Usuário na GameHub.</p>

                    <p><strong>3.3.1 -</strong> Devido a variações na forma de distribuição de alguns Games, pode ser necessário que a Ativação, o download, instalação e/ou o acesso ao Game ocorram por meio de Conta de Acesso em plataforma diversa à GameHub. Nessas situações haverá informação em local visível e apropriado na página descritiva do Game, antes da finalização da compra.</p>

                    <p><strong>3.3.2 -</strong> A plataforma descrita no item acima para acesso aos Games adquiridos poderá ser alterada a qualquer momento, independente da informação descrita no momento de finalização da compra. Caso haja alteração, o download, instalação e/ou acesso ao Game deverão ser realizados por meio da plataforma substituta.</p>

                    <p><strong>3.4 -</strong> A GameHub poderá, a qualquer momento, alterar as formas de pagamento disponibilizadas na Plataforma, bem como eventuais empresas responsáveis por sua intermediação, deixando claro ao Usuário qual é a forma de pagamento disponível.</p>

                    <p><strong>3.5 -</strong> Os Usuários que comprarem na Plataforma poderão exercer o seu direito de arrependimento em até 07 (sete) dias contados após o recebimento do produto, podendo se utilizar das formas de contato disponibilizadas na Plataforma, sendo os canais oficiais o e-mail <a href="mailto:support@gamehub.com">support@gamehub.com</a> ou formulário de contato, para dar início ao procedimento. Não haverá direito de arrependimento para compras realizadas em desacordo com estes Termos de Uso e, em especial, para compras feitas com o intuito de revenda ou exploração comerciais.</p>

                    <p><strong>3.5.1 -</strong> A GameHub garante aos consumidores que confirmará por escrito o recebimento dos seus pedidos de cancelamento feitos com base no direito de arrependimento. A GameHub honrará todos os pedidos de cancelamento feitos com base no direito de arrependimento realizados nos termos da legislação nacional e nestes Termos de Uso. Após o pedido de cancelamento ser realizado, a GameHub irá bloquear a visualização da Chave de Ativação, caso a mesma não tenha sido visualizada até então.</p>

                    <p><strong>3.5.2 -</strong> A devolução do pagamento somente poderá ser efetuada se o Usuário não tiver feito uso de sua Licença, sendo essa considerada a visualização da chave de Ativação na Conta de Acesso e/ou a conclusão do download. Em caso de compras para presente, a Conta de Acesso a ser considerada será a do Usuário presenteado.</p>

                    <p><strong>3.5.3 -</strong> Sendo constatada a ausência dos requisitos descritos acima, a GameHub se reserva ao direito de não aceitar a devolução e não efetuar a restituição do valor pago, podendo disponibilizar o produto ao Usuário sem consulta prévia. Para maior segurança dos Usuários, recomendamos certificar todas as informações disponíveis na GameHub sobre determinado produto antes de efetuar a compra.</p>

                    <p><strong>3.5.4 -</strong> A GameHub fará o reembolso dos valores pagos utilizando a mesma forma de pagamento escolhida no processo de compra. Vale ressaltar que, nas compras realizadas com cartão de crédito, o estorno irá ser feito mediante crédito em fatura (estorno).</p>

                    <p><strong>3.6 -</strong> Além dos presentes Termos de Uso e Condições de Navegação e da Política de Privacidade, a Plataforma possui regulamentos específicos voltados aos seus serviços prestados, funcionalidades disponibilizadas, procedimentos e políticas adotados pela GameHub para regular formas de pagamento e utilização do fórum, por exemplo.</p>

                    <p><strong>3.6.1 -</strong> O Usuário compreende que para a plena utilização da Plataforma, suas funcionalidades, serviços e produtos é necessário ler e concordar com todos os termos, políticas e regulamentos da GameHub e dos proprietários dos Conteúdos Digitais, conforme o caso.</p>

                    <p><strong>3.6.2 -</strong> Havendo quaisquer divergências entre o disposto nos presentes Termos de Uso e Condições de Navegação, na Política de Privacidade ou nos regulamentos da Plataforma, deverá prevalecer o descrito na norma mais específica.</p>

                    <p><strong>3.7 -</strong> A GameHub se reserva ao direito de suspender o acesso de um Usuário sem aviso prévio caso entenda que seu cadastro esteja irregular ou que viole, direta ou indiretamente, os presentes Termos de Uso e Condições de Navegação da Plataforma ou alguma disposição legal.</p>

                    <p><strong>3.8 -</strong> A GameHub envida seus esforços para a disponibilidade contínua e permanente da Plataforma, ficando sujeita, todavia, a eventos extraordinários, como desastres naturais, falhas ou colapsos nos sistemas centrais de comunicação e acesso à internet ou fatos de terceiro, que fogem de sua esfera de vigilância e responsabilidade.</p>

                    <p><strong>3.9 -</strong> É dever dos Usuários a leitura dos Termos de Uso e Condições de Navegação, da Política de Privacidade e demais regulamentos da Plataforma sempre que o acessar, devendo manter o compromisso em agir conforme o determinado nestes documentos.</p>

                    <p><strong>3.10 -</strong> Somente é permitido aos Usuários maiores de 18 (dezoito) anos utilizarem a Plataforma. Indivíduos menores de 18 (dezoito) anos deverão ser assistidos ou representados por seus responsáveis legais durante toda a navegação pela Plataforma.</p>

                    <p><strong>3.10.1 -</strong> Ao indicar a data de nascimento na Plataforma, o Usuário declara a veracidade dessa informação e será integralmente responsável por todos os atos nele praticados.</p>

                    <p><strong>3.10.2 -</strong> A GameHub não poderá ser responsabilizada por atos praticados por menores de 18 (dezoito) anos ou Usuários que sejam inaptos para firmar relações jurídicas conforme a legislação brasileira.</p>

                    <p><strong>3.11 -</strong> O cadastro de Usuários é gratuito e garantirá acesso às funcionalidades da Plataforma.</p>

                    <p><strong>3.12 -</strong> A GameHub poderá alterar os critérios de elegibilidade de acesso à Plataforma ou da realização de atividades neste a qualquer momento, sem que para isso tenha que fazer qualquer tipo de comunicação ou aviso ao Usuário. A GameHub também possui a faculdade de se recusar a conceder Conta de Acesso a qualquer pessoa que utilizar de forma fraudulenta ou de qualquer forma violar ou tentar violar os Termos de Uso e Condições de Navegação da Plataforma ou qualquer documento legal da GameHub disponibilizado na Plataforma ou qualquer lei ou ato normativo emitido por uma autoridade.</p>

                    <p><strong>3.13 -</strong> Os Usuários poderão se valer dos canais de contato, sendo os canais oficiais o e-mail <a href="mailto:support@gamehub.com">support@gamehub.com</a> ou formulário de contato da página de Suporte, para denunciarem toda vez que presenciarem ou verificarem conteúdo impróprio na Plataforma.</p>

                    <p><strong>3.13.1 -</strong> A denúncia será sigilosa e preservará a identidade do Usuário.</p>

                    <p><strong>3.14 -</strong> A GameHub poderá restringir o número de Licenças de um mesmo Produto ou de Produtos distintos passíveis de aquisição por um mesmo Usuário caso entenda que a compra de uma mesma Licença ou de várias Licenças possa configurar compras para revenda ou exploração comerciais.</p>
                </div>

                <a href="#topo">&#11205; Voltar ao topo</a>
            </div>

            <div class="topico flex col">
                <h3>4. Comunicação da Plataforma com os Usuários</h3>
                
                <div class="flex col">
                    <p><strong>4.1 -</strong> A GameHub poderá utilizar todos os canais de comunicação fornecidos e autorizados com seus Usuários, nas suas mais diversas modalidades, incluindo, mas não se limitando a e-mail, ligação telefônica, envio de SMS, Whatsapp ou qualquer outra forma de mensagem eletrônica instantânea. As comunicações serão feitas, exclusivamente, para atender as solicitações de compra realizadas na Plataforma, para verificar o cumprimento destes Termos de Uso ou para evitar fraudes praticadas com os dados do consumidor.</p>
                
                    <p><strong>4.1.1 -</strong> A responsabilidade pelo recebimento dos comunicados é exclusiva dos Usuários, por isso é indispensável que sempre forneçam os dados corretos e precisos, além de os manterem atualizados, sempre que navegarem pela Plataforma.</p>
                
                    <p><strong>4.1.2 -</strong> É igualmente de responsabilidade dos Usuários deixarem seus sistemas de anti-spam configurados de modo que não interfiram no recebimento dos comunicados e materiais encaminhados pela GameHub ou quaisquer avisos encaminhados pela Plataforma, não sendo aceitável nenhuma escusa caso não tenha tido acesso a algum e-mail em virtude desse bloqueio ou filtro similar.</p>
                </div>  
                
                <a href="#topo">&#11205; Voltar ao topo</a>
            </div>

            <div class="topico flex col">
                <h3>5. Comunicação da Plataforma com os Usuários</h3>
                
                <div class="flex col">
                    <p><strong>5.1 -</strong> A Plataforma possui documento próprio, denominado Política de Privacidade, que regula o tratamento dado às informações de cadastro e demais informações e dados coletados.</p>
                
                    <p><strong>5.2 -</strong> A Política de Privacidade é parte integrante e inseparável dos Termos de Uso e Condições de Navegação da Plataforma, e pode ser acessada no link encontrado em seu rodapé.</p>
                
                    <p><strong>5.3 -</strong> Caso alguma disposição da Política de Privacidade conflitar com qualquer outra do presente documento, deverá prevalecer o descrito na norma mais específica.</p>
                </div>    
                
                <a href="#topo">&#11205; Voltar ao topo</a>
            </div>

            <div class="topico flex col">
                <h3>6. Obrigações da Plataforma</h3>

                <div class="flex col">
                    <p><strong>6.1 -</strong> A GameHub se obriga perante seus Usuários a:</p>
                    
                    <p><strong>a)</strong> Manter o ambiente virtual seguro, tais como suas operações de gerenciamento e dados registrados para tanto;</p>
                    
                    <p><strong>b)</strong> Preservar a funcionalidade do site, com links não quebrados, utilizando Layout que respeita a usabilidade, segurança e navegabilidade, facilitando a navegação sempre que possível e garantindo um ambiente confiável para processar suas operações;</p>
                    
                    <p><strong>c)</strong> Exibir as funcionalidades de maneira clara, completa, precisa e suficiente de modo que exista a exata percepção das operações realizadas; e garantir, por meio do estado da técnica disponível, o sigilo e confidencialidade dos dados inseridos nas funcionalidades oferecidas em sua Plataforma, somente sendo acessíveis a quem o Usuário declinar, além de si próprio.</p>

                    <p><strong>6.1.1 -</strong> A GameHub poderá realizar manutenções preventivas ou emergenciais na Plataforma, sendo que, para tanto, eventuais paradas, indisponibilidades ou impossibilidade de acesso podem ocorrer nestas situações, sendo que as manutenções preventivas irão prescindir de aviso aos Usuários quando causarem eventuais indisponibilidades. Tais avisos não serão encaminhados aos Usuários em caso de manutenção emergencial que eventualmente cause indisponibilidade na Plataforma.</p>
                    
                    <p><strong>6.1.2 -</strong> A indisponibilidade da Plataforma ocasionada por força maior ou decorrente das manutenções descritas neste item <strong>6.1.2</strong> não resultará em qualquer direito à indenização ou reparação de danos pelo tempo em que permanecer fora de uso, independente da motivação.</p>
                </div>

                <a href="#topo">&#11205; Voltar ao topo</a>
            </div>

            <div class="topico flex col">
                <h3>7. Obrigações dos Usuários</h3>
                
                <div class="flex col">
                    <p><strong>7.1 -</strong> Os Usuários se obrigam a:</p>
            
                    <p><strong>a)</strong> Realizar navegação com retidão ética, sempre respeitando as condições que regem a utilização da Plataforma, responsabilizando-se por todas as suas ações praticadas em tais ambientes e fora dele que envolvam a Plataforma, direta ou indiretamente;</p>
            
                    <p><strong>b)</strong> Fornecer dados e informações sempre com compromisso de veracidade e autenticidade, sob pena da aplicação das penas da lei, do dever de indenizar a quem causar dano e de ter a Conta de Acesso da presente Plataforma excluída e seu acesso bloqueado;</p>
            
                    <p><strong>c)</strong> Na incidência de danos à Plataforma ou a terceiros, arcar com todas as obrigações de indenizar a própria GameHub ou ainda qualquer sujeito eventualmente lesado, não devendo a GameHub responder por tais prejuízos;</p>
            
                    <p><strong>d)</strong> Utilizar os recursos da presente Plataforma para as finalidades que foi constituída, sujeitando-se à aplicação das penas previstas em lei, do dever de indenizar a quem eventualmente apure dano, sem prejuízo de ter a Conta de Acesso excluída e todos e quaisquer benefícios a ela relacionados perdidos;</p>
            
                    <p><strong>e)</strong> Manter o sigilo dos dados de sua Conta de Acesso, sua senha e demais dispositivos de autenticação em relação a terceiros, não os divulgando ou compartilhando com quem quer que seja, sob pena de exclusão da Conta de Acesso à Plataforma, além do dever de ressarcir os danos que sobrevierem dessa divulgação indevida; e caso suspeite que a confidencialidade de sua senha foi violada ou que houve o comprometimento de algum dispositivo de autenticação, proceder sua troca ou atualização o mais rápido possível.</p>

                    <p><strong>7.2 -</strong> Os Usuários deverão usar as ferramentas de interação social e publicação de conteúdo fornecidas pela GameHub, tais como, mas não se limitando a Fórum, Blog e sistemas de comentários e reviews de acordo com suas regras específicas de utilização, compromisso expressamente aceito mediante aceitação dos presentes Termos de Uso e Condições de Navegação. A GameHub se reserva ao direito de remover qualquer conteúdo que viole os Termos de Uso e Condições de Navegação, as regras específicas de utilização de cada ferramenta e demais documentos legais.</p>
            
                    <p><strong>7.2.1 -</strong> Conteúdos que violem a intimidade de terceiros, tais como, mas não se limitando a materiais que contenham cenas de nudez ou de atos sexuais de caráter privado serão removidos imediatamente a partir da ciência da GameHub independentemente de solicitação, sendo a responsabilidade por tal conteúdo exclusivamente do Usuário que o disponibilizou.</p>
                    
                    <p>Os Usuários ao utilizarem plataformas diversas da GameHub estarão condicionados a aceitação aos Termos de Uso das referidas plataformas.</p>
                </div>

                <a href="#topo">&#11205; Voltar ao topo</a>
            </div>
            
            <div class="topico flex col">
                <h3>8. Direitos Autorais e Propriedade Intelectual da Plataforma</h3>
                
                <div class="flex col">
                    <p><strong>8.1 -</strong> O uso comercial da expressão “GameHub” ou ainda de palavras que se assemelham a estas, porém com grafia diferenciada, como marcas, nomes empresariais ou nomes de domínio, além dos conteúdos das telas da Plataforma, assim como os programas de computador, tanto próprio quanto de terceiros, bancos de dados, redes e seus arquivos, são de propriedade da GameHub e ou de seus parceiros e estão protegidos pelas leis e tratados internacionais de proteção à propriedade intelectual, incluindo, mas não se limitando, às Leis Federais 9.609/98, 9.610/98, 9.279/96 e 10.406/2002.</p>
            
                    <p><strong>8.2 -</strong> Ao acessar esta Plataforma os Usuários declaram que irão respeitar todos os direitos de propriedade intelectual da GameHub e de seus parceiros, incluindo, mas não se limitando, aos programas de computador, direitos autorais e direitos de propriedade industrial sobre as marcas, patentes, nomes de domínio, denominação social e desenhos industriais, depositados ou registrados em nome da GameHub, bem como de todos os direitos referentes a terceiros que porventura estejam, ou estiveram, de alguma forma, disponíveis na Plataforma. O acesso ou uso das funcionalidades da Plataforma não confere aos Visitantes ou Usuários quaisquer direitos ao uso dos nomes, títulos, palavras, frases, marcas, patentes, nomes de domínio, denominação social, obras literárias, artísticas, lítero-musicais, imagens, ilustrações, documentos legais, dados e informações, dentre outras, que nele estejam ou estiveram disponíveis.</p>
            
                    <p><strong>8.3 -</strong> A reprodução dos conteúdos descritos anteriormente está proibida, salvo com prévia autorização por escrito da GameHub ou caso se destinem ao uso exclusivamente pessoal e sem que em nenhuma circunstância os Usuários adquiram qualquer direito sobre tal conteúdo.</p>
            
                    <p><strong>8.4 -</strong> É vedada a utilização desta Plataforma para finalidades comerciais, publicitárias ou qualquer outra que contrarie a realidade para o qual foi concebido, conforme definido neste documento, bem como a reprodução, distribuição e divulgação, total ou parcial, dos textos, figuras e gráficos que compõem a presente Plataforma, sem prévia e expressa autorização da GameHub.</p>
            
                    <p><strong>8.5 -</strong> Os Usuários assumem toda e qualquer responsabilidade, de caráter civil e/ou criminal, pela utilização indevida das informações, textos, gráficos, marcas, patentes, nomes de domínio, obras, imagens, logotipos, enfim, de todo e qualquer direito de propriedade intelectual ou industrial existentes nesta Plataforma ou de titularidade da GameHub.</p>
            
                    <p><strong>8.6 -</strong> Qualquer outro tipo de utilização de material autorizado, inclusive para fins editoriais, comerciais ou publicitários, só poderá ser feito na forma e mediante prévio e expresso consentimento da GameHub. O uso comercial não autorizado poderá incorrer em infrações cíveis e criminais.</p>
            
                    <p><strong>8.6.1 -</strong> Qualquer reutilização de material autorizado deverá ser objeto de uma nova autorização da GameHub.</p>
            
                    <p><strong>8.6.2 -</strong> A autorização conferida para utilização do material solicitado não poderá ser transferida a terceiros, mesmo que vinculados ao sujeito autorizado.</p>
            
                    <p><strong>8.7 -</strong> A eventual retirada de qualquer conteúdo ou funcionalidade desta Plataforma em decorrência de alguma reclamação deverá ser sempre compreendida como uma demonstração da intenção de evitar danos e prejuízos, não podendo ser admitida como assunção de culpa ou de violação pela GameHub a direito de terceiro.</p>
            
                    <p><strong>8.8 -</strong> Salvo disposição específica em contrato existente entre os Usuários com a GameHub, esses retêm direitos autorais dos conteúdos enviados à Plataforma, tais como comentários e seu conteúdo, concedendo licença irrevogável, perpétua, mundial, irrestrita, isenta de royalties e não exclusiva de reprodução, adaptação, modificação, tradução, publicação, distribuição ou exibição na própria Plataforma para fins de melhor utilização da ferramenta, maior divulgação de algum produto, serviço ou atividade ligada à Plataforma.</p>
            
                    <p><strong>8.9 -</strong> O envio por parte do Usuário para a GameHub, por meio da Plataforma ou pelos canais divulgados, de conteúdo que diga respeito a ideias para novos produtos, melhorias daqueles já existentes, campanhas publicitárias ou qualquer outra ação de marketing, implicará na autorização de uso do conteúdo pela GameHub, ficando a critério exclusivo da GameHub em oferecer qualquer tipo de recompensa pecuniária ou compensação não financeira pelo que foi enviado, nada podendo o Usuário reclamar neste sentido.</p>
                </div>

                <a href="#topo">&#11205; Voltar ao topo</a>
            </div>

            <div class="topico flex col">
                <h3>9. Pedidos e Pagamento</h3>
                
                <div class="flex col">
                    <p><strong>9.1 -</strong> O Usuário poderá encontrar os produtos disponibilizados na Plataforma através da ferramenta de busca ou na opção “Games”, disponível em local específico e visível na plataforma.</p>
            
                    <p><strong>9.2 -</strong> Ao localizar o(s) produto(s) desejado(s) o Usuário poderá clicar na imagem disponível e assim serão disponibilizadas as informações do produto, tais como, resumo do Game, requisitos de sistema, classificação indicativa e informações adicionais. Para proceder a compra o Usuário deverá adicionar os itens desejados para compra ao carrinho, e em seguida escolherá a forma de pagamento e inserir cupom de desconto, caso possua. Ao finalizar o pedido o Usuário deverá prestar as informações necessárias para o pagamento.</p>
            
                    <p><strong>9.3 -</strong> O pagamento dos pedidos poderá ser realizado através dos meios disponíveis na Plataforma, abrangendo cartão de crédito, boleto e transferência eletrônica. Poderão ser disponibilizados novos meios, podendo o Usuário escolher o de sua preferência conforme a disponibilidade na Plataforma no ato da realização do pagamento.</p>
            
                    <p><strong>9.3.1 -</strong> A GameHub reserva-se ao direito de alterar formas de cobrança, parceiros de plataformas de pagamento, serviços prestados, campos adicionais de cadastro e tudo aquilo que julgar necessário para o correto desenvolvimento e funcionamento da Plataforma.</p>
            
                    <p><strong>9.4 -</strong> A GameHub protege suas páginas de pagamento e as páginas da Conta de Acesso através de certificado digital, o que aumenta a segurança dos Visitantes através da garantia de que toda e qualquer informação transmitida entre o navegador de Internet do Visitante e a Plataforma estarão criptografadas.</p>
            
                    <p><strong>9.5 -</strong> As seguintes regras são aplicáveis para a devolução de pagamentos para clientes que solicitarem a devolução com base no direito de arrependimento: <strong>(a)</strong> a devolução de pagamentos feitos com cartão de crédito será feita mediante estorno na fatura do mesmo cartão; <strong>(b)</strong> para compras com Pix ou boleto, a devolução será feita em conta bancária de titularidade do consumidor, por ele informada à GameHub.</p>
            
                    <p><strong>9.6 -</strong> Todas as transações serão iniciadas em moeda indicada no carrinho de compras, conforme definições da GameHub para o país de acesso do Usuário, sendo que a cobrança por meio de intermediadores de pagamento pode ocorrer em moeda diversa, de acordo com o câmbio e taxas próprias para o país de acesso ou conta do Usuário no intermediador.</p>
            
                    <p><strong>9.7 -</strong> Os produtos comprados serão disponibilizados ao Usuário assim que houver a confirmação do pagamento e aprovação interna pela GameHub, à exceção de produtos adquiridos em pré-venda que serão disponibilizados somente na data prevista de lançamento do jogo sendo que o prazo de confirmação pode variar de acordo com o meio escolhido pelo Usuário. A título de exemplo, a confirmação de boletos bancários pode demorar cerca de 3 (três) dias úteis.</p>
            
                    <p><strong>9.8 -</strong> A GameHub se reserva o direito de alterar o preço e a disponibilidade de qualquer produto a qualquer momento, sem aviso prévio. A alteração do preço e disponibilidade somente não recairá sobre transações já realizadas e que estejam apenas aguardando confirmação do pagamento ou aprovação interna pela GameHub.</p>
            
                    <p><strong>9.9 -</strong> Os usuários devem informar documentos verídicos de identificação, como o seu número de inscrição no Cadastro de Pessoas Físicas - CPF para que a compra seja validada. A apresentação de documentos falsos poderá caracterizar falsidade ideológica.</p>
            
                    <p><strong>9.10 -</strong> Todo Pedido deverá ser feito para Usuário enquanto consumidor final. A GameHub se reserva o direito de não efetivar a intermediação da venda de Licença caso constate que o Usuário realiza a compra com o intuito de revenda ou exploração comerciais.</p>
                </div>

                <a href="#topo">&#11205; Voltar ao topo</a>
            </div>
            
            <div class="topico flex col">
                <h3>10. Tributos</h3>
                
                <div class="flex col">
                    <p><strong>10.1 -</strong> A GameHub é uma empresa dedicada a realizar a intermediação da venda de Licenças entre as Publishers e os Usuários. As Publishers estão localizadas no Brasil e em outros países.</p>
            
                    <p><strong>10.2 -</strong> Dessa forma, a GameHub não é responsável pela retenção de qualquer tributo que incida sobre a compra e venda das Licenças. Todos os tributos que sejam exigidos dos clientes finais ou das Publishers sobre as Licenças/direitos de uso adquiridos deverão ser recolhidos ou retidos pelos respectivos contribuintes ou responsáveis se houver exigência de retenção ou recolhimento quando a compra é feita de uma Publisher localizada fora do Brasil.</p>
                </div>

                <a href="#topo">&#11205; Voltar ao topo</a>
            </div>

            <div class="topico flex col">
                <h3>11. Atendimento da Plataforma</h3>
                
                <div class="flex col">
                    <p>Em caso de dúvida sobre as condições estabelecidas neste termo ou qualquer documento da Plataforma, o Usuário deverá entrar em contato com os canais oficiais, sendo via e-mail <a href="mailto:support@gamehub.com">support@gamehub.com</a>.</p>
                </div>
                
                <a href="#topo">&#11205; Voltar ao topo</a>
            </div>

            <div class="topico flex col">
                <h3>12. Modificações destes Termos e Condições</h3>
                
                <div class="flex col">
                    <p><strong>12.1 -</strong> Os presentes Termos de Uso e Condições de Navegação da Plataforma estão sujeitos a constante melhoria e aprimoramento, trazendo como reflexos constantes mudanças em ajustes de seus termos. Assim, a GameHub reserva-se ao direito de modificar a qualquer momento, de forma unilateral, o presente documento, bem como da respectiva Política de Privacidade. Por isso, recomenda-se que o Usuário, sempre que acessar a Plataforma, verifique a versão disponibilizada dos Termos de Uso e Condições de Navegação da Plataforma.</p>
            
                    <p><strong>12.2 -</strong> Ao navegar pela Plataforma e utilizar suas funcionalidades, os Usuários e Visitantes aceitam guiar-se pelos Termos e Condições de Uso da Plataforma e pela Política de Privacidade que se encontram vigentes na data e, portanto, devem verificá-los cada vez que acessarem a Plataforma.</p>
                </div>

                <a href="#topo">&#11205; Voltar ao topo</a>
            </div>

            <div class="topico flex col">
                <h3>13. Disposições Gerais</h3>
                
                <div class="flex col">
                    <p><strong>13.1 -</strong> Não será permitido aos Usuários acessar as áreas de programação da Plataforma, seu banco de dados ou qualquer outro conjunto de informações que faça parte da atividade desenvolvida pela GameHub, realizar ou permitir que se realize qualquer tipo de engenharia reversa, tradução, decompilação, cópia, modificação, reprodução, locação, sublocação, sublicenciamento, publicação, divulgação, transmissão, empréstimo, distribuição ou, de qualquer outra forma, a disposição de ferramentas de consulta desta Plataforma e de suas funcionalidades para terceiros sem a prévia e expressa autorização da GameHub, ficando o Usuário que o fizer sujeito à legislação brasileira, sem prejuízo da obrigação de reparar os danos que causar.</p>
            
                    <p><strong>13.2 -</strong> É proibida a utilização de programas do tipo spider / crawler ou de mineração de dados, que tenham como finalidade a quebra de sistemas de segurança, senha, CAPTCHA, ou ainda de qualquer tipo ou espécie correlato, além de outros aqui não tipificados, mas que atue de modo automatizado, tanto para realizar operações massificadas ou para quaisquer outras finalidades, sob pena de aplicação da legislação correlata de proteção dos interesses da GameHub, sem prejuízo da obrigação de reparar quaisquer perdas e danos eventualmente apurados e/ou suportados pela GameHub e que decorrerem desta utilização indevida.</p>
            
                    <p><strong>13.3 -</strong> A Plataforma e o site foram desenvolvidos e são disponibilizados para serem manipulados por pessoas, com a finalidade específica de comercializar produtos. Qualquer uso fora deste padrão deverá ser previamente autorizado pela GameHub, sendo que qualquer resultado proveniente de uso não permitido ou fora dos padrões aqui estabelecidos não poderão ser aproveitados ou disponibilizados para quaisquer pessoas sem a autorização prévia e expressa da GameHub.</p>
            
                    <p><strong>13.4 -</strong> A tolerância do eventual descumprimento de quaisquer das cláusulas e condições do presente instrumento não constituirá novação das obrigações aqui estipuladas e tampouco impedirá ou inibirá a exigibilidade destas a qualquer tempo.</p>
            
                    <p><strong>13.5 -</strong> Todos os registros e guarda de dados realizados no ambiente da Plataforma serão realizados e catalogados com base no horário de referência UTC/GMT.</p>
            
                    <p><strong>13.6 -</strong> Caso alguma disposição destes Termos de Uso e Condições de Navegação da Plataforma seja considerada ilegítima por autoridade da localidade que o Usuário acessa a Plataforma, ou mantém vínculo, as demais condições permanecerão em pleno vigor e efeito até segunda ordem.</p>
                </div>

                <a href="#topo">&#11205; Voltar ao topo</a>
            </div>
            
            <div class="topico flex col">
                <h3>14. Lei aplicável e Jurisdição</h3>
                
                <div class="flex col">
                    <p>Os Termos e Condições de Uso aqui descritos são interpretados segundo a legislação brasileira, no idioma português, sendo eleito o Foro da Comarca do Rio de Janeiro no estado do Rio de Janeiro, Brasil, para dirimir qualquer litígio, questão ou dúvida superveniente, com expressa renúncia de qualquer outro, por mais privilegiado que seja. Para ações judiciais iniciadas por consumidores, o consumidor poderá optar por ajuizar a ação no Foro da Comarca do Rio de Janeiro, ou no foro de domicílio do consumidor, nos termos do art. 101 do Código de Defesa do Consumidor, para as ações de responsabilidade civil da GameHub enquanto fornecedora de produtos e serviços.</p>
                </div>

                <a href="#topo">&#11205; Voltar ao topo</a>
            </div>

            <div class="topico flex col">
                <h3>15. Termos e Condições de Uso do Apoiador de uma Campanha</h3>
                
                <div class="flex col">
                    <p>Este termo se aplica a você, usuário do serviço, na qualidade de “apoiador de alguma campanha” (“Usuário” ou “Apoiador”). A partir do momento que você iniciar o cadastro e apoiar alguma campanha, estará vinculado às regras aqui descritas, concordando e comprometendo-se a respeitá-las fielmente.</p>
                    
                    <p>Se, por qualquer motivo, for necessária a modificação das regras, você poderá visualizá-las através do mesmo link "Termos e Condições de Uso".</p>
                    
                    <p>Se, porventura, não concordar com o presente termo, não se cadastre na GameHub para apoiar uma campanha.</p>
                    
                    <p>A GameHub, através das campanhas lançadas pelas empresas, busca angariar, de forma coletiva de fundos (“Crowdfunding”), o financiamento de projetos de jogos eletrônicos. Através da plataforma é possível angariar fundos de usuários (“Apoiadores”) interessados em financiar projetos (“apoios”) e, em contrapartida, receberão as Recompensas definidas pelo Lançador. Assim, a GameHub funciona como uma intermediadora entre o Lançador e o Apoiador.</p>
                    
                    <p>O Lançador, assim entendido como a pessoa física ou jurídica que pretende lançar uma campanha, é responsável pela Campanha e pelo desenvolvimento dos jogos. A GameHub funciona apenas como uma plataforma que une o Lançador de uma campanha e seus apoiadores, não possuindo qualquer ingerência ou responsabilidade no desenvolvimento dos jogos que são objeto das campanhas.</p>
                    
                    <p>A utilização da plataforma não gera relação de trabalho, vínculo empregatício, associação, sociedade entre quaisquer Usuários e a GameHub. A GameHub não é fornecedora dos produtos que são objeto da Campanha.</p>
                    
                    <p>Ao aceitar estes “Termos e Condições de Uso” e utilizar os serviços da plataforma, você declara poder fazê-lo nos termos da legislação brasileira vigente.</p>
                    
                    <h4>15.1 - Definições de Termos presentes nestes Termos de Uso</h4>
                    
                    <p><strong>Apoio:</strong> É o valor que o Apoiador contribuirá para a Campanha de um Lançador, podendo ter como contrapartida o recebimento de Recompensas.</p>
                    
                    <p><strong>Apoiadores:</strong> São os usuários da plataforma que irão colaborar e apoiar, por meio de Crowdfunding, financeiramente com uma campanha. Apenas pessoas maiores de 18 anos, ou emancipados, poderão ser apoiadores de projetos. No caso de menores, o apoio deve ser realizado por seus representantes legais.</p>
                    
                    <p><strong>Campanha de Projeto ou Campanha:</strong> Conjunto de ações e planejamento para angariar os recursos necessários à execução do Projeto.</p>
                    
                    <p><strong>Campanha Bem-Sucedida:</strong> Quando uma Campanha de Projeto atinge o montante pré-estabelecido (“Montante”) dentro do prazo (“Prazo”), ambos estabelecidos pelo Lançador.</p>
                    
                    <p><strong>Campanha Mal-Sucedida:</strong> Quando uma Campanha de Projeto não atinge o Montante dentro do Prazo.</p>
                    
                    <p><strong>Incentivos/Recompensas:</strong> Bonificação(ões) elaborada(s) pelo Lançador, que poderão ser atribuídas a valores contribuídos pelo(s) Apoiador(es), estando diretamente vinculadas a estes, sendo de responsabilidade exclusiva e irretratável do Lançador o respectivo cumprimento, no caso da Campanha Bem-Sucedida. Financiamentos participantes do projeto geral não podem ter disposição de marcas ou CNPJ, não podem ser usados como Branding, e as rimas do jogo precisarão ser obrigatoriamente aprovadas pelos desenvolvedores antes de serem fechadas para o livro das rimas. CNPJ e marcas só podem participar por meio de negociações e categorias comerciais que podem vir a ser criadas durante o projeto de financiamento ou através de acordo formal com os desenvolvedores.</p>
                    
                    <p><strong>Lançadores:</strong> São as pessoas, físicas, que criarão Campanha(s) de Projeto(s), a fim de angariar recursos financeiros por meio de Crowdfunding.</p>
                    
                    <p><strong>Meios de Pagamento:</strong> São prestadores de serviço com vistas a permitir (i) aos Apoiadores colaborar com os Projetos, por meio de Crowdfunding, (ii) aos Lançadores receber o Montante, (iii) à GameHub receber sua comissão e (iv) aos Apoiadores de serem reembolsados em um prazo de até 90 dias nos casos de Campanha Não Bem-Sucedida.</p>
                    
                    <p><strong>Plataforma:</strong> É o endereço eletrônico da GameHub, localizado na URL www.GameHub.com.br e seus subdomínios.</p>
                    
                    <p><strong>Projeto:</strong> Conjunto de informações e ações que visam à criação de um produto ou execução de um serviço. O Lançador é o responsável pelo projeto, não tendo a GameHub qualquer ingerência sobre o projeto, datas e prazos.</p>
                    
                    <p><strong>Recompensas:</strong> São os incentivos definidos pelo Lançador dentro do Projeto, que poderão ser oferecidos quando da contribuição do Apoiador, podendo este optar ou não por recebê-la. A GameHub não possui responsabilidade pelo cumprimento das Recompensas, sendo estas de responsabilidade do Lançador.</p>
                    
                    <p><strong>Usuários:</strong> Toda e qualquer indivíduo que tenha se cadastrado em nome próprio, para a qual tenha poderes para tal, e navegue no site www.GameHub.com.br aderindo a este Termo e Condições de Uso, seja ele Apoiador, Lançador ou Profissional.</p>
                    
                    <h4>15.2 - Cadastro</h4>
                    
                    <p>Para se cadastrar na GameHub e ter acesso às campanhas, você deverá prestar as informações requeridas pela GameHub e se enquadrar na figura de Apoiador. O Apoiador declara, sob as penas da lei, prestar as informações verdadeiras.</p>
                    
                    <p>Também serão solicitadas informações bancárias dos Usuários ou dados do seu cartão de crédito, conforme o caso, para a realização dos apoios, reembolsos e repasse dos valores aos Lançadores.</p>
                    
                    <p>Lembramos que nossa Política de Privacidade protege todos estes dados que você irá nos fornecer e em respeito à legislação aplicável.</p>
                    
                    <h4>15.3 - Senha</h4>
                    
                    <p>A senha de acesso por você cadastrada deverá ser mantida em absoluto sigilo. Esta confidencialidade cabe ao seu titular, não tendo a GameHub qualquer responsabilidade pelas atividades que ocorram com o uso de sua senha.</p>
                    
                    <h4>15.4 - Campanhas Lançadas</h4>
                    
                    <p>Uma vez lançada a Campanha, será iniciado o processo de angariação dos fundos necessários para sua concretização. Antes de apoiar uma campanha, leia atentamente as regras do projeto e do presente termo de uso.</p>
                    
                    <p>A GameHub não tem qualquer responsabilidade ou dever de divulgar sua Campanha, prospectar Apoiadores e/ou garantir que ela seja Bem-Sucedida.</p>
                    
                    <p>A GameHub não possui qualquer responsabilidade nos casos da Campanha não atingir o Montante mínimo necessário dentro do Prazo estipulado pelo Lançador.</p>
                    
                    <p>A campanha será considerada Bem-Sucedida, quando o montante pré-estabelecido (“Montante”) é arrecadado dentro do prazo (“Prazo”), ambos estabelecidos pelo Lançador.</p>
                    
                    <p>Por outro lado, a Campanha será considerada como Mal-Sucedida, quando não for atingido o Montante dentro do Prazo.</p>
                    
                    <h4>15.5 - Disponibilidade dos Serviços</h4>
                    
                    <p>A GameHub não garante que o sistema será ininterrupto ou que estará livre de defeitos, inexatidão, interferência, invasão de segurança, erros, vírus ou falhas ("Imprecisões"). Garantimos sim que faremos nossos melhores esforços para que este esteja sempre disponível.</p>
                    
                    <h4>15.6 - Responsabilidades</h4>
                    
                    <p><strong>GameHub:</strong> A GameHub será responsável quando a legislação aplicável assim determinar. Como uma plataforma que também oferece serviços de crowdfunding, a GameHub não possui qualquer ingerência nos atos do Lançador.</p>
                    
                    <p>A GameHub é titular dos direitos de propriedade intelectual referentes ao seu próprio serviço, que são protegidos pelas leis brasileiras e por tratados internacionais.</p>
                    
                    <p><strong>Lançador:</strong> O Lançador é responsável pelo desenvolvimento dos jogos que são objeto da campanha e responsável pelas Recompensas.</p>
                    
                    <p>O Apoiador está ciente de que está financiando um projeto novo, que pode sofrer alterações, atrasos ou até mesmo imprevistos que podem inviabilizar a própria execução do que foi previsto durante a Campanha ou mesmo a entrega das Recompensas, sem que isso acarrete qualquer responsabilidade por parte da GameHub, tendo em vista ser somente um intermediador da relação entre Apoiador e Lançador para o financiamento do Projeto.</p>
                    
                    <h4>15.7 - Condições Finais</h4>
                    
                    <p>Se qualquer parte deste instrumento for considerada inválida ou inexequível, esta deverá ser interpretada de acordo com a lei aplicável de forma a refletir, o mais próximo possível, as intenções originais das partes, sendo que o restante do contrato permanecerá vigente e efetivo.</p>
                    
                    <p>A GameHub não será responsável pelo descumprimento de quaisquer obrigações em decorrência caso fortuito, força maior, responsabilidade exclusiva de terceiros ou qualquer outra excludente de responsabilidade.</p>
                    
                    <p>As hipóteses de reembolso estão previstas na descrição do Projeto, devendo o Usuário ler atentamente antes de realizar o apoio.</p>
                    
                    <p>O Usuário não poderá ceder este Termo ou qualquer direito ou obrigação, sem o consentimento prévio por escrito da GameHub.</p>
                </div>
                
                <a href="#topo">&#11205; Voltar ao topo</a>
            </div>
        </div>
    </section>
{% endblock %}